flows.json
[
    {
        "id": "ecda8b350b431192",
        "type": "tab",
        "label": "Basic_Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a48505843766cd08",
        "type": "tab",
        "label": "MQTT Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e811c4bc8df86b43",
        "type": "tab",
        "label": "Server To Devices",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4a633a38bb91c115",
        "type": "tab",
        "label": "Capstone",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a7cc7dfeba7ad8d8",
        "type": "mqtt-broker",
        "name": "MQTT_in",
        "broker": "a1df0xo7q9cvqr-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "clientid": "cl1",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6105ad5ad566c306",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "IOT_Lab_Nodered",
        "name": ""
    },
    {
        "id": "75e3cd234c9d488d",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "server_to_devices",
        "name": ""
    },
    {
        "id": "34da9f55d06b0380",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9ff7d8cbb3e57b79",
        "type": "ui_tab",
        "name": "Sprinkler Status",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "02658e7a074e96e5",
        "type": "ui_tab",
        "name": "Sensor Status",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1b0bec9ba245e733",
        "type": "ui_group",
        "name": "Sensor_status",
        "tab": "ed40a05c6cfeb1d0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "41333bf70281a214",
        "type": "ui_group",
        "name": "Sprinkler Status",
        "tab": "ed40a05c6cfeb1d0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ca472ed321c3b7e0",
        "type": "mqtt-broker",
        "name": "Demo_Capstone",
        "broker": "a1df0xo7q9cvqr-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "fd66ce35e24bc761",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fd66ce35e24bc761",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "Sensor0.pem.crt",
        "keyname": "Sensor0.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "b4f7bf40041bab35",
        "type": "dynamodb-config",
        "name": "device_data",
        "accessKey": "AKIATC7GF7WLWXEVLWPA",
        "secretAccessKey": "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",
        "region": "us-east-1"
    },
    {
        "id": "903c5c3e0c3d21e3",
        "type": "amazon config",
        "name": "AWS",
        "region": "us-east-1",
        "proxyRequired": false,
        "proxy": ""
    },
    {
        "id": "ed40a05c6cfeb1d0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7d771c1db76a26b7",
        "type": "debug",
        "z": "ecda8b350b431192",
        "name": "anomaly data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 140,
        "wires": []
    },
    {
        "id": "888da9c5b6b48953",
        "type": "debug",
        "z": "ecda8b350b431192",
        "name": "raw data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "9f10c6b05d86251c",
        "type": "function",
        "z": "ecda8b350b431192",
        "name": "data_logger",
        "func": "var message = {}\nlet current = new Date();\nlet cDate = current.getFullYear() + '-' + (current.getMonth() + 1) + '-' + current.getDate();\nlet cTime = current.getHours() + \":\" + current.getMinutes() + \":\" + current.getSeconds();\nlet dateTime = cDate + ' ' + cTime;\nmessage[\"timestamp\"] = dateTime;\nmessage[\"deviceid\"] = \"sensor101\";\nmessage[\"device_type\"] = \"temperature\";\nmessage[\"value\"] = Math.floor((Math.random() * 18) + 18);\nreturn {payload : message};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nvar message = {}\nlet current = new Date();\nlet cDate = current.getFullYear() + '-' + (current.getMonth() + 1) + '-' + current.getDate();\nlet cTime = current.getHours() + \":\" + current.getMinutes() + \":\" + current.getSeconds();\nlet dateTime = cDate + ' ' + cTime;\nmessage[\"timestamp\"] = dateTime;\nmessage[\"deviceid\"] = \"sensor101\";\nmessage[\"device_type\"] = \"temperature\";\nmessage[\"value\"] = Math.floor((Math.random() * 18) + 18);\nreturn {payload : message};",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 200,
        "wires": [
            [
                "59413c35af4c4280",
                "888da9c5b6b48953"
            ]
        ]
    },
    {
        "id": "59413c35af4c4280",
        "type": "switch",
        "z": "ecda8b350b431192",
        "name": "temperature",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "34",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 140,
        "wires": [
            [
                "7d771c1db76a26b7"
            ]
        ]
    },
    {
        "id": "7825117c696bb643",
        "type": "inject",
        "z": "ecda8b350b431192",
        "name": "Basic Flow",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Data",
        "payloadType": "str",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "9f10c6b05d86251c"
            ]
        ]
    },
    {
        "id": "33f7b07bd1427029",
        "type": "mqtt out",
        "z": "a48505843766cd08",
        "name": "",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a7cc7dfeba7ad8d8",
        "x": 90,
        "y": 140,
        "wires": []
    },
    {
        "id": "3d4f00bec03ee5b1",
        "type": "mqtt in",
        "z": "a48505843766cd08",
        "name": "",
        "topic": "devices/#",
        "qos": "2",
        "datatype": "json",
        "broker": "a7cc7dfeba7ad8d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 280,
        "wires": [
            [
                "b784a563422102cb"
            ]
        ]
    },
    {
        "id": "a25c346e4c0c70e9",
        "type": "switch",
        "z": "a48505843766cd08",
        "name": "Anomaly Detection",
        "property": "payload.device_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "co2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "39a9223b97604369"
            ],
            [
                "c5ea4a7ba711b5d6"
            ],
            [
                "635df4a3c6321481"
            ]
        ]
    },
    {
        "id": "39a9223b97604369",
        "type": "switch",
        "z": "a48505843766cd08",
        "name": "Temperature anamoly",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "27",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "23",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 100,
        "wires": [
            [
                "cde9ac6d7f6a80b1",
                "a2c503e02e6777d5"
            ],
            [
                "cde9ac6d7f6a80b1",
                "a2c503e02e6777d5"
            ]
        ]
    },
    {
        "id": "635df4a3c6321481",
        "type": "switch",
        "z": "a48505843766cd08",
        "name": "CO2 Anomaly",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "90",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "45",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 340,
        "wires": [
            [
                "c9ed6bf9b8ddc7aa",
                "a2c503e02e6777d5"
            ],
            [
                "c9ed6bf9b8ddc7aa",
                "a2c503e02e6777d5"
            ]
        ]
    },
    {
        "id": "c5ea4a7ba711b5d6",
        "type": "switch",
        "z": "a48505843766cd08",
        "name": "Humidty anomaly",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "80",
                "vt": "str"
            },
            {
                "t": "lte",
                "v": "50",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 220,
        "wires": [
            [
                "31f1cf094808f1ee",
                "a2c503e02e6777d5"
            ],
            [
                "31f1cf094808f1ee",
                "a2c503e02e6777d5"
            ]
        ]
    },
    {
        "id": "b784a563422102cb",
        "type": "function",
        "z": "a48505843766cd08",
        "name": "",
        "func": "var message = msg.payload\nreturn {payload : message};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 220,
        "wires": [
            [
                "a25c346e4c0c70e9",
                "cefdaa39b695799c",
                "6429fa8addde13a6"
            ]
        ]
    },
    {
        "id": "cefdaa39b695799c",
        "type": "debug",
        "z": "a48505843766cd08",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 380,
        "wires": []
    },
    {
        "id": "cde9ac6d7f6a80b1",
        "type": "debug",
        "z": "a48505843766cd08",
        "name": "temparature anomaly",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "31f1cf094808f1ee",
        "type": "debug",
        "z": "a48505843766cd08",
        "name": "humidity anomaly",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "c9ed6bf9b8ddc7aa",
        "type": "debug",
        "z": "a48505843766cd08",
        "name": "CO2 anomaly",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 340,
        "wires": []
    },
    {
        "id": "6429fa8addde13a6",
        "type": "mongodb out",
        "z": "a48505843766cd08",
        "mongodb": "6105ad5ad566c306",
        "name": "Nodered_DB",
        "collection": "raw_data",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "a2c503e02e6777d5",
        "type": "mongodb out",
        "z": "a48505843766cd08",
        "mongodb": "6105ad5ad566c306",
        "name": "Nodered_DB",
        "collection": "anomaly_data",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 1040,
        "y": 280,
        "wires": []
    },
    {
        "id": "6f1e05e0046cb4a7",
        "type": "inject",
        "z": "a48505843766cd08",
        "name": "view data",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "view data",
        "payloadType": "str",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "3d5d995afafcce5a"
            ]
        ]
    },
    {
        "id": "3d5d995afafcce5a",
        "type": "mongodb in",
        "z": "a48505843766cd08",
        "mongodb": "6105ad5ad566c306",
        "name": "IOT_Lab_Nodered",
        "collection": "raw_data",
        "operation": "find",
        "x": 520,
        "y": 620,
        "wires": [
            [
                "e45b2b51e15e78d2"
            ]
        ]
    },
    {
        "id": "e45b2b51e15e78d2",
        "type": "debug",
        "z": "a48505843766cd08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 640,
        "wires": []
    },
    {
        "id": "7855f220b1340457",
        "type": "mongodb in",
        "z": "e811c4bc8df86b43",
        "mongodb": "75e3cd234c9d488d",
        "name": "Medication",
        "collection": "server_to_devices",
        "operation": "find",
        "x": 270,
        "y": 180,
        "wires": [
            [
                "722173e36c8aae2a"
            ]
        ]
    },
    {
        "id": "baf4cbf3d948780a",
        "type": "inject",
        "z": "e811c4bc8df86b43",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "payloadType": "date",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "7855f220b1340457"
            ]
        ]
    },
    {
        "id": "722173e36c8aae2a",
        "type": "splitter",
        "z": "e811c4bc8df86b43",
        "name": "",
        "property": "payload",
        "x": 460,
        "y": 200,
        "wires": [
            [
                "4a38b8768e44e8c5"
            ]
        ]
    },
    {
        "id": "4a38b8768e44e8c5",
        "type": "function",
        "z": "e811c4bc8df86b43",
        "name": "",
        "func": "\nmsg.payload = msg.payload;\nmsg.topic = msg.payload.deviceid;\n\nvar schedule = msg.payload.time;\nvar medicine = msg.payload.medicine;\nvar mediquantity = msg.payload.quantity;\n\nvar message = \" \"\n\nfor (medicineiter=0; medicineiter<medicine.length; medicineiter++){\n    message = message + medicine[medicineiter];\n    message = message + \" : \" + mediquantity[medicineiter] + \" mg, \";\n}\n\nfor (scheduleiter=0; scheduleiter<schedule.length; scheduleiter++){\n    var today = new Date();\n    var time = Number(today.getHours());\n    var prescribed_time = Number(schedule[scheduleiter].split(\":\")[0])\n    if (time+1 == prescribed_time){\n        var leftTime = 60 - Number(today.getMinutes());\n        return {payload: `Please take the medicine, ${leftTime} minutes remaining. Medicines are ${message}`, topic: msg.topic};\n    }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 160,
        "wires": [
            [
                "0776ce44897d103e",
                "fa56339835f4448c"
            ]
        ]
    },
    {
        "id": "0776ce44897d103e",
        "type": "debug",
        "z": "e811c4bc8df86b43",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 180,
        "wires": []
    },
    {
        "id": "fa56339835f4448c",
        "type": "mqtt out",
        "z": "e811c4bc8df86b43",
        "name": "",
        "topic": "F_302",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a7cc7dfeba7ad8d8",
        "x": 820,
        "y": 340,
        "wires": []
    },
    {
        "id": "6b46e2f21a690708",
        "type": "mqtt in",
        "z": "e811c4bc8df86b43",
        "name": "",
        "topic": "F_302",
        "qos": "2",
        "datatype": "auto",
        "broker": "a7cc7dfeba7ad8d8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 560,
        "y": 460,
        "wires": [
            [
                "b573c367756f0b1d"
            ]
        ]
    },
    {
        "id": "b573c367756f0b1d",
        "type": "debug",
        "z": "e811c4bc8df86b43",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "e2912728dc2cfb05",
        "type": "switch",
        "z": "4a633a38bb91c115",
        "name": "Sprinkler_status",
        "property": "payload.device_id.S",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sprinkler1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sprinkler2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sprinkler3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sprinkler4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sprinkler5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1480,
        "y": 1820,
        "wires": [
            [
                "166b3fe14647c691"
            ],
            [
                "b13ff45e777d3778"
            ],
            [
                "48f6492067d0c04e"
            ],
            [
                "379e439b9184b60d"
            ],
            [
                "6a0a8043463a7658"
            ]
        ]
    },
    {
        "id": "3df88625e00031df",
        "type": "switch",
        "z": "4a633a38bb91c115",
        "name": "Sensor_status",
        "property": "payload.device_id.S",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sensor0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor15",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor16",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor17",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor18",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor19",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 20,
        "x": 1480,
        "y": 2420,
        "wires": [
            [
                "5921ddc1875cda92"
            ],
            [
                "38aeb589a6673139"
            ],
            [
                "aff9672bbe960b39"
            ],
            [
                "d4a73df0a39c1bf8"
            ],
            [
                "6bb66785a14eaf7b"
            ],
            [
                "230359867cf81c18"
            ],
            [
                "6600cbdaf29496a1"
            ],
            [
                "638bad78a6f3d140"
            ],
            [
                "3130b8bcdcb0c6ed"
            ],
            [
                "ceaa6356684d9be3"
            ],
            [
                "ff10f7f6ea7d2a23"
            ],
            [
                "4178b6a4d090f785"
            ],
            [
                "47f8f594daca3cd2"
            ],
            [
                "f42b21765b6761a5"
            ],
            [
                "3cf5cd9682c4e9bb"
            ],
            [
                "61a3199f07871abb"
            ],
            [
                "eddb304dcdaba2ef"
            ],
            [
                "fed2046268d0807c"
            ],
            [
                "a4e951a846a1a3b6"
            ],
            [
                "04850d8b62d31a65"
            ]
        ]
    },
    {
        "id": "53f9062583dd2c8e",
        "type": "AWS DynamoDB",
        "z": "4a633a38bb91c115",
        "aws": "903c5c3e0c3d21e3",
        "operation": "Scan",
        "Statements": "",
        "RequestItems": "",
        "TableName": "device_data",
        "BackupName": "",
        "GlobalTableName": "",
        "ReplicationGroup": "",
        "AttributeDefinitions": "",
        "KeySchema": "",
        "BackupArn": "",
        "Key": "",
        "ExportArn": "",
        "Statement": "",
        "TransactStatements": "",
        "TableArn": "",
        "S3Bucket": "",
        "ResourceArn": "",
        "Item": "",
        "TargetTableName": "",
        "Tags": "",
        "TransactItems": "",
        "TagKeys": "",
        "PointInTimeRecoverySpecification": "",
        "ContributorInsightsAction": "",
        "ReplicaUpdates": "",
        "TimeToLiveSpecification": "",
        "name": "",
        "x": 410,
        "y": 1340,
        "wires": [
            [
                "0dafa3d747f52f95"
            ],
            []
        ]
    },
    {
        "id": "e3ef0ea15cd91b0a",
        "type": "inject",
        "z": "4a633a38bb91c115",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 210,
        "y": 1300,
        "wires": [
            [
                "53f9062583dd2c8e"
            ]
        ]
    },
    {
        "id": "0dafa3d747f52f95",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "var message = msg.payload\nreturn {payload : message};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1400,
        "wires": [
            [
                "ace968c9fd6ef16d"
            ]
        ]
    },
    {
        "id": "ace968c9fd6ef16d",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "var x=0;\nvar myArray = {};\nvar i=0;\n\nfor (i=0; i< msg.payload.ScannedCount; i++) {\n\nmyArray[x] = {\ndevice_type: (msg.payload.Items[i].device_type),\ndevice_id: (msg.payload.Items[i].device_id),\ndevice_status: (msg.payload.Items[i].device_status),\ntimestamp: (msg.payload.Items[i].device_timestamp)\n}\nx=x+1\n}\n\nmsg.payload = myArray;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1540,
        "wires": [
            [
                "10a490b47ee0e950"
            ]
        ]
    },
    {
        "id": "10a490b47ee0e950",
        "type": "split",
        "z": "4a633a38bb91c115",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 570,
        "y": 1800,
        "wires": [
            [
                "2accc30bbc20b142"
            ]
        ]
    },
    {
        "id": "2accc30bbc20b142",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "\nvar dict = {\"device_type\" : msg.payload.device_type,\n        \"device_id\" : msg.payload.device_id,\n        \"device_status\" : msg.payload.device_status,\n        \"timestamp\" : msg.payload.timestamp};\n\nmsg.payload = dict;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 1980,
        "wires": [
            [
                "7b06553d03f96e87",
                "76fdc761ed2e9c5d"
            ]
        ]
    },
    {
        "id": "7b06553d03f96e87",
        "type": "debug",
        "z": "4a633a38bb91c115",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 2060,
        "wires": []
    },
    {
        "id": "bc986de47e94ecb6",
        "type": "debug",
        "z": "4a633a38bb91c115",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 2060,
        "wires": []
    },
    {
        "id": "76fdc761ed2e9c5d",
        "type": "switch",
        "z": "4a633a38bb91c115",
        "name": "Sprinkler_status",
        "property": "payload.device_type.S",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sprinkler",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 1920,
        "wires": [
            [
                "73425616102b905a"
            ],
            [
                "c62ab9f6d7bd2d64"
            ]
        ]
    },
    {
        "id": "166b3fe14647c691",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "41333bf70281a214",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sprinkler1",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1790,
        "y": 1740,
        "wires": []
    },
    {
        "id": "73425616102b905a",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "var dict = {\n        \"device_id\" : msg.payload.device_id,\n        \"device_status\" : msg.payload.device_status,\n        \"timestamp\" : msg.payload.timestamp};\nmsg.payload = dict\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1820,
        "wires": [
            [
                "e2912728dc2cfb05"
            ]
        ]
    },
    {
        "id": "b13ff45e777d3778",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "41333bf70281a214",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sprinkler2",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1790,
        "y": 1780,
        "wires": []
    },
    {
        "id": "48f6492067d0c04e",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "41333bf70281a214",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sprinkler3",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1790,
        "y": 1820,
        "wires": []
    },
    {
        "id": "379e439b9184b60d",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "41333bf70281a214",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sprinkler4",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1790,
        "y": 1860,
        "wires": []
    },
    {
        "id": "6a0a8043463a7658",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "41333bf70281a214",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sprinkler5",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1790,
        "y": 1900,
        "wires": []
    },
    {
        "id": "c62ab9f6d7bd2d64",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "var dict = {\n        \"device_id\" : msg.payload.device_id,\n        \"device_status\" : msg.payload.device_status,\n        \"timestamp\" : msg.payload.timestamp};\nmsg.payload = dict\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 2080,
        "wires": [
            [
                "3df88625e00031df"
            ]
        ]
    },
    {
        "id": "5921ddc1875cda92",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor0",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 1980,
        "wires": []
    },
    {
        "id": "38aeb589a6673139",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor1",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2020,
        "wires": []
    },
    {
        "id": "aff9672bbe960b39",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor2",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2060,
        "wires": []
    },
    {
        "id": "d4a73df0a39c1bf8",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor3",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2100,
        "wires": []
    },
    {
        "id": "6bb66785a14eaf7b",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor4",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2140,
        "wires": []
    },
    {
        "id": "230359867cf81c18",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor5",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2180,
        "wires": []
    },
    {
        "id": "6600cbdaf29496a1",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor6",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2220,
        "wires": []
    },
    {
        "id": "638bad78a6f3d140",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor7",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2260,
        "wires": []
    },
    {
        "id": "3130b8bcdcb0c6ed",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor8",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2300,
        "wires": []
    },
    {
        "id": "ceaa6356684d9be3",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor9",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2340,
        "wires": []
    },
    {
        "id": "ff10f7f6ea7d2a23",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor10",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2380,
        "wires": []
    },
    {
        "id": "4178b6a4d090f785",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor11",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2420,
        "wires": []
    },
    {
        "id": "47f8f594daca3cd2",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor12",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2460,
        "wires": []
    },
    {
        "id": "f42b21765b6761a5",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor13",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2500,
        "wires": []
    },
    {
        "id": "3cf5cd9682c4e9bb",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor14",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2540,
        "wires": []
    },
    {
        "id": "61a3199f07871abb",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor15",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2580,
        "wires": []
    },
    {
        "id": "eddb304dcdaba2ef",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor16",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2620,
        "wires": []
    },
    {
        "id": "fed2046268d0807c",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor17",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2660,
        "wires": []
    },
    {
        "id": "a4e951a846a1a3b6",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor18",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2700,
        "wires": []
    },
    {
        "id": "04850d8b62d31a65",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "1b0bec9ba245e733",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor19",
        "format": "{{msg.payload.device_status.S}}",
        "layout": "row-spread",
        "x": 1800,
        "y": 2740,
        "wires": []
    }
]