Nodered_Dashboard/Final_Dashboard_Nodered.json
[
    {
        "id": "4a633a38bb91c115",
        "type": "tab",
        "label": "Capstone",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a7cc7dfeba7ad8d8",
        "type": "mqtt-broker",
        "name": "MQTT_in",
        "broker": "a1df0xo7q9cvqr-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "clientid": "cl1",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "6105ad5ad566c306",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "IOT_Lab_Nodered",
        "name": ""
    },
    {
        "id": "75e3cd234c9d488d",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "server_to_devices",
        "name": ""
    },
    {
        "id": "34da9f55d06b0380",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "41333bf70281a214",
        "type": "ui_group",
        "name": "Sprinkler-1",
        "tab": "ed40a05c6cfeb1d0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ca472ed321c3b7e0",
        "type": "mqtt-broker",
        "name": "Demo_Capstone",
        "broker": "a1df0xo7q9cvqr-ats.iot.us-east-1.amazonaws.com",
        "port": "8883",
        "tls": "fd66ce35e24bc761",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fd66ce35e24bc761",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "b04b548b729e48cac13c37a3ad24c0fa39912b012ec4783bcc7321522b81a710-certificate.pem.crt",
        "keyname": "b04b548b729e48cac13c37a3ad24c0fa39912b012ec4783bcc7321522b81a710-private.pem.key",
        "caname": "AmazonRootCA1(3).pem",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "b4f7bf40041bab35",
        "type": "dynamodb-config",
        "name": "device_data",
        "accessKey": "AKIATC7GF7WLWXEVLWPA",
        "secretAccessKey": "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",
        "region": "us-east-1"
    },
    {
        "id": "903c5c3e0c3d21e3",
        "type": "amazon config",
        "name": "AWS",
        "region": "us-east-1",
        "proxyRequired": false,
        "proxy": ""
    },
    {
        "id": "ed40a05c6cfeb1d0",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "58a7b4edfef69a8f",
        "type": "ui_group",
        "name": "Sensor_temp",
        "tab": "78a6d2704a88c971",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "723c349c486596a6",
        "type": "ui_group",
        "name": "Sprinkler-2",
        "tab": "ed40a05c6cfeb1d0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "87209e5a1f4ed1c8",
        "type": "ui_group",
        "name": "Sprinkler-3",
        "tab": "ed40a05c6cfeb1d0",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7c54bb6277c1774f",
        "type": "ui_group",
        "name": "Sprinkler-4",
        "tab": "ed40a05c6cfeb1d0",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "524f0558829b4150",
        "type": "ui_group",
        "name": "Sprinkler-5",
        "tab": "ed40a05c6cfeb1d0",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "78a6d2704a88c971",
        "type": "ui_tab",
        "name": "Graphs",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e2912728dc2cfb05",
        "type": "switch",
        "z": "4a633a38bb91c115",
        "name": "Sprinkler_status",
        "property": "payload.device_id.S",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sprinkler1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sprinkler2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sprinkler3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sprinkler4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sprinkler5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1880,
        "y": 560,
        "wires": [
            [
                "7172d97906d9bb61"
            ],
            [
                "c9113c582eb2c638"
            ],
            [
                "85f8ea1e664be656"
            ],
            [
                "308958543d726117"
            ],
            [
                "fa4a0cad55a31f1c"
            ]
        ]
    },
    {
        "id": "3df88625e00031df",
        "type": "switch",
        "z": "4a633a38bb91c115",
        "name": "Sensor_status",
        "property": "payload.device_id.S",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sensor0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor15",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor16",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor17",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor18",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor19",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 20,
        "x": 1880,
        "y": 1160,
        "wires": [
            [
                "d90c5f365ae0ef74"
            ],
            [
                "e0e48529d0247144"
            ],
            [
                "2a3495cbe96d7fad"
            ],
            [
                "4aeaab5f5dbb69d7"
            ],
            [
                "14eec58421f0cd92"
            ],
            [
                "d3ca6b36f2810eb4"
            ],
            [
                "a17e3ab29e5047de"
            ],
            [
                "9978874a5a1e2242"
            ],
            [
                "41e85e8a7300d3da"
            ],
            [
                "bf4de9c4b7a87bab"
            ],
            [
                "cf69677bc5bbdac1"
            ],
            [
                "ab69eab0202f60c1"
            ],
            [
                "2bee10d1c865be07"
            ],
            [
                "f0f2964336c405d5"
            ],
            [
                "d6147d1914b39990"
            ],
            [
                "0ff2c9b72dd3d38a"
            ],
            [
                "be028c9efef9903e"
            ],
            [
                "77f9ccfd46a9d1b5"
            ],
            [
                "57e0e8039068616e"
            ],
            [
                "ad82e7ddf589514b"
            ]
        ]
    },
    {
        "id": "53f9062583dd2c8e",
        "type": "AWS DynamoDB",
        "z": "4a633a38bb91c115",
        "aws": "903c5c3e0c3d21e3",
        "operation": "Scan",
        "Statements": "",
        "RequestItems": "",
        "TableName": "device_state",
        "BackupName": "",
        "GlobalTableName": "",
        "ReplicationGroup": "",
        "AttributeDefinitions": "",
        "KeySchema": "",
        "BackupArn": "",
        "Key": "",
        "ExportArn": "",
        "Statement": "",
        "TransactStatements": "",
        "TableArn": "",
        "S3Bucket": "",
        "ResourceArn": "",
        "Item": "",
        "TargetTableName": "",
        "Tags": "",
        "TransactItems": "",
        "TagKeys": "",
        "PointInTimeRecoverySpecification": "",
        "ContributorInsightsAction": "",
        "ReplicaUpdates": "",
        "TimeToLiveSpecification": "",
        "name": "",
        "x": 330,
        "y": 680,
        "wires": [
            [
                "0dafa3d747f52f95"
            ],
            []
        ]
    },
    {
        "id": "e3ef0ea15cd91b0a",
        "type": "inject",
        "z": "4a633a38bb91c115",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "53f9062583dd2c8e"
            ]
        ]
    },
    {
        "id": "0dafa3d747f52f95",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "var message = msg.payload\nreturn {payload : message};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 600,
        "wires": [
            [
                "ace968c9fd6ef16d"
            ]
        ]
    },
    {
        "id": "ace968c9fd6ef16d",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "var x=0;\nvar myArray = {};\nvar i=0;\n\nfor (i=0; i< msg.payload.ScannedCount; i++) {\n\nmyArray[x] = {\ndevice_type: (msg.payload.Items[i].device_type),\ndevice_id: (msg.payload.Items[i].device_id),\ndevice_status: (msg.payload.Items[i].device_status),\ntimestamp: (msg.payload.Items[i].device_timestamp)\n}\nx=x+1\n}\n\nmsg.payload = myArray;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 600,
        "wires": [
            [
                "10a490b47ee0e950"
            ]
        ]
    },
    {
        "id": "10a490b47ee0e950",
        "type": "split",
        "z": "4a633a38bb91c115",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 910,
        "y": 680,
        "wires": [
            [
                "2accc30bbc20b142"
            ]
        ]
    },
    {
        "id": "2accc30bbc20b142",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "\nvar dict = {\"device_type\" : msg.payload.device_type,\n        \"device_id\" : msg.payload.device_id,\n        \"device_status\" : msg.payload.device_status,\n        \"timestamp\" : msg.payload.timestamp};\n\nmsg.payload = dict;\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 680,
        "wires": [
            [
                "7b06553d03f96e87",
                "76fdc761ed2e9c5d"
            ]
        ]
    },
    {
        "id": "7b06553d03f96e87",
        "type": "debug",
        "z": "4a633a38bb91c115",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 820,
        "wires": []
    },
    {
        "id": "76fdc761ed2e9c5d",
        "type": "switch",
        "z": "4a633a38bb91c115",
        "name": "Sprinkler_status",
        "property": "payload.device_type.S",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "sprinkler",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sensor",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1320,
        "y": 680,
        "wires": [
            [
                "73425616102b905a"
            ],
            [
                "c62ab9f6d7bd2d64"
            ]
        ]
    },
    {
        "id": "73425616102b905a",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "var dict = {\n        \"device_id\" : msg.payload.device_id,\n        \"device_status\" : msg.payload.device_status,\n        \"timestamp\" : msg.payload.timestamp};\nmsg.payload = dict\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 560,
        "wires": [
            [
                "e2912728dc2cfb05"
            ]
        ]
    },
    {
        "id": "c62ab9f6d7bd2d64",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "var dict = {\n        \"device_id\" : msg.payload.device_id,\n        \"device_status\" : msg.payload.device_status,\n        \"timestamp\" : msg.payload.timestamp};\nmsg.payload = dict\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 820,
        "wires": [
            [
                "3df88625e00031df"
            ]
        ]
    },
    {
        "id": "5921ddc1875cda92",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "41333bf70281a214",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor0",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 740,
        "wires": []
    },
    {
        "id": "7172d97906d9bb61",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 480,
        "wires": [
            [
                "d7f15b19e62ff970"
            ]
        ]
    },
    {
        "id": "c9113c582eb2c638",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 520,
        "wires": [
            [
                "1ca6d09bafe163a6"
            ]
        ]
    },
    {
        "id": "85f8ea1e664be656",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 560,
        "wires": [
            [
                "0deb3c752d88225f"
            ]
        ]
    },
    {
        "id": "308958543d726117",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 600,
        "wires": [
            [
                "cbc220aaa887db4f"
            ]
        ]
    },
    {
        "id": "fa4a0cad55a31f1c",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 640,
        "wires": [
            [
                "27449a373464d2f4"
            ]
        ]
    },
    {
        "id": "d90c5f365ae0ef74",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 740,
        "wires": [
            [
                "5921ddc1875cda92"
            ]
        ]
    },
    {
        "id": "e0e48529d0247144",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 780,
        "wires": [
            [
                "f98db76f0976c09e"
            ]
        ]
    },
    {
        "id": "f98db76f0976c09e",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "41333bf70281a214",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor1",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 780,
        "wires": []
    },
    {
        "id": "e708b3af61a63333",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "41333bf70281a214",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor2",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 820,
        "wires": []
    },
    {
        "id": "60d424ee58a263c5",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "41333bf70281a214",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor3",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 860,
        "wires": []
    },
    {
        "id": "f9ec16a0ebe3b2ec",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "723c349c486596a6",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor4",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 900,
        "wires": []
    },
    {
        "id": "0f49ac5076aa8620",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "723c349c486596a6",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor5",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 940,
        "wires": []
    },
    {
        "id": "b1e201decfd65421",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "723c349c486596a6",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor6",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 980,
        "wires": []
    },
    {
        "id": "b20573cf24553d48",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "723c349c486596a6",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor7",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1020,
        "wires": []
    },
    {
        "id": "cebb654af3f3658a",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "87209e5a1f4ed1c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor8",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ddcd7ceb39dff9f1",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "87209e5a1f4ed1c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor9",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1100,
        "wires": []
    },
    {
        "id": "7d898e8529ae29f8",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "87209e5a1f4ed1c8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor10",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1140,
        "wires": []
    },
    {
        "id": "10416358b505dd0f",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "87209e5a1f4ed1c8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor11",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1180,
        "wires": []
    },
    {
        "id": "a125a694ca6530c7",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "7c54bb6277c1774f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor12",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1220,
        "wires": []
    },
    {
        "id": "c07d6b2b47f9d47e",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "7c54bb6277c1774f",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor13",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1260,
        "wires": []
    },
    {
        "id": "6b7a0cafbda8b4be",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "7c54bb6277c1774f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor14",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1300,
        "wires": []
    },
    {
        "id": "250dfd4433fb32e7",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "7c54bb6277c1774f",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor15",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1340,
        "wires": []
    },
    {
        "id": "569072eadca90e29",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "524f0558829b4150",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor16",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1380,
        "wires": []
    },
    {
        "id": "bbd16ac55e697398",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "524f0558829b4150",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor17",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1420,
        "wires": []
    },
    {
        "id": "96f9f887cb333746",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "524f0558829b4150",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor18",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1460,
        "wires": []
    },
    {
        "id": "2a3495cbe96d7fad",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 820,
        "wires": [
            [
                "e708b3af61a63333"
            ]
        ]
    },
    {
        "id": "4aeaab5f5dbb69d7",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 860,
        "wires": [
            [
                "60d424ee58a263c5"
            ]
        ]
    },
    {
        "id": "14eec58421f0cd92",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 900,
        "wires": [
            [
                "f9ec16a0ebe3b2ec"
            ]
        ]
    },
    {
        "id": "d3ca6b36f2810eb4",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 940,
        "wires": [
            [
                "0f49ac5076aa8620"
            ]
        ]
    },
    {
        "id": "a17e3ab29e5047de",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 980,
        "wires": [
            [
                "b1e201decfd65421"
            ]
        ]
    },
    {
        "id": "9978874a5a1e2242",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1020,
        "wires": [
            [
                "b20573cf24553d48"
            ]
        ]
    },
    {
        "id": "41e85e8a7300d3da",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1060,
        "wires": [
            [
                "cebb654af3f3658a"
            ]
        ]
    },
    {
        "id": "bf4de9c4b7a87bab",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1100,
        "wires": [
            [
                "ddcd7ceb39dff9f1"
            ]
        ]
    },
    {
        "id": "cf69677bc5bbdac1",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1140,
        "wires": [
            [
                "7d898e8529ae29f8"
            ]
        ]
    },
    {
        "id": "ab69eab0202f60c1",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1180,
        "wires": [
            [
                "10416358b505dd0f"
            ]
        ]
    },
    {
        "id": "2bee10d1c865be07",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1220,
        "wires": [
            [
                "a125a694ca6530c7"
            ]
        ]
    },
    {
        "id": "f0f2964336c405d5",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1260,
        "wires": [
            [
                "c07d6b2b47f9d47e"
            ]
        ]
    },
    {
        "id": "d6147d1914b39990",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1300,
        "wires": [
            [
                "6b7a0cafbda8b4be"
            ]
        ]
    },
    {
        "id": "0ff2c9b72dd3d38a",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1340,
        "wires": [
            [
                "250dfd4433fb32e7"
            ]
        ]
    },
    {
        "id": "be028c9efef9903e",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1380,
        "wires": [
            [
                "569072eadca90e29"
            ]
        ]
    },
    {
        "id": "77f9ccfd46a9d1b5",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1420,
        "wires": [
            [
                "bbd16ac55e697398"
            ]
        ]
    },
    {
        "id": "57e0e8039068616e",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1460,
        "wires": [
            [
                "96f9f887cb333746"
            ]
        ]
    },
    {
        "id": "ad82e7ddf589514b",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "",
        "func": "msg.color = (msg.payload.device_status.S === \"OFF\")? \"lime\":\"red\"\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 1500,
        "wires": [
            [
                "d9ab47d6d6a74328"
            ]
        ]
    },
    {
        "id": "d9ab47d6d6a74328",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "524f0558829b4150",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sensor19",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:24px;\"></i></font>",
        "layout": "row-spread",
        "x": 2300,
        "y": 1500,
        "wires": []
    },
    {
        "id": "d7f15b19e62ff970",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "41333bf70281a214",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sprinkler1",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:36px;\"></i></font>",
        "layout": "col-center",
        "x": 2290,
        "y": 480,
        "wires": []
    },
    {
        "id": "1ca6d09bafe163a6",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "723c349c486596a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sprinkler2",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:36px;\"></i></font>",
        "layout": "col-center",
        "x": 2290,
        "y": 520,
        "wires": []
    },
    {
        "id": "0deb3c752d88225f",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "87209e5a1f4ed1c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sprinkler3",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:36px;\"></i></font>",
        "layout": "col-center",
        "x": 2290,
        "y": 560,
        "wires": []
    },
    {
        "id": "cbc220aaa887db4f",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "7c54bb6277c1774f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sprinkler4",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:36px;\"></i></font>",
        "layout": "col-center",
        "x": 2290,
        "y": 600,
        "wires": []
    },
    {
        "id": "27449a373464d2f4",
        "type": "ui_text",
        "z": "4a633a38bb91c115",
        "group": "524f0558829b4150",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sprinkler5",
        "format": " <font color={{msg.color}} ><i class=\"fa fa-circle\" style=\"font-size:36px;\"></i></font>",
        "layout": "col-center",
        "x": 2290,
        "y": 640,
        "wires": []
    },
    {
        "id": "6eb76bbbfb72c72a",
        "type": "mqtt in",
        "z": "4a633a38bb91c115",
        "name": "",
        "topic": "iot/agritech",
        "qos": "1",
        "datatype": "auto",
        "broker": "ca472ed321c3b7e0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 1660,
        "wires": [
            [
                "b7bce9556898cbe3"
            ]
        ]
    },
    {
        "id": "b7bce9556898cbe3",
        "type": "json",
        "z": "4a633a38bb91c115",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 710,
        "y": 1680,
        "wires": [
            [
                "746c9108238c7e3e",
                "0ed9d51b79fd23dc"
            ]
        ]
    },
    {
        "id": "746c9108238c7e3e",
        "type": "switch",
        "z": "4a633a38bb91c115",
        "name": "Sensor_status",
        "property": "payload.sensor_id",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sensor0",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor15",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor16",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor17",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor18",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Sensor19",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 20,
        "x": 1020,
        "y": 1880,
        "wires": [
            [
                "50a4aed7cffd609d"
            ],
            [
                "51231e20ed0c91be"
            ],
            [
                "f3631e330f9253d8"
            ],
            [
                "ededaa9a10a56b92"
            ],
            [
                "f01a2c3317c630b0"
            ],
            [
                "cf401637fd25f9d7"
            ],
            [
                "4b82654762211b4c"
            ],
            [
                "fe6413f3fd4daf6b"
            ],
            [
                "cfd6ae1a46b810c8"
            ],
            [
                "1829d25cae24d132"
            ],
            [
                "96843c2d96a78736"
            ],
            [
                "ebb54e5300a9d308"
            ],
            [
                "eec49e12595b97d2"
            ],
            [
                "38ba1f6d94264678"
            ],
            [
                "7d79599f3c0a9194"
            ],
            [
                "e6ae5bf74c505072"
            ],
            [
                "98e4670815c9fd01"
            ],
            [
                "e5ac732a7425d079"
            ],
            [
                "001087ed1bb0b3ec"
            ],
            [
                "f31893645b5fd419"
            ]
        ]
    },
    {
        "id": "50a4aed7cffd609d",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor0",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1460,
        "wires": [
            [
                "737fc54cf8a09931"
            ]
        ]
    },
    {
        "id": "51231e20ed0c91be",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor1",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1500,
        "wires": [
            [
                "f894e04beab19751"
            ]
        ]
    },
    {
        "id": "f3631e330f9253d8",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor2",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1540,
        "wires": [
            [
                "7a0ed0bf500852cb"
            ]
        ]
    },
    {
        "id": "ededaa9a10a56b92",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor3",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1580,
        "wires": [
            [
                "5589622f1d43c1ae"
            ]
        ]
    },
    {
        "id": "f01a2c3317c630b0",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor4",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1620,
        "wires": [
            [
                "4baf3330166a4119"
            ]
        ]
    },
    {
        "id": "cf401637fd25f9d7",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor5",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1660,
        "wires": [
            [
                "eb79b3e6adcdc2a2"
            ]
        ]
    },
    {
        "id": "4b82654762211b4c",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor6",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1700,
        "wires": [
            [
                "e6f81767d35fac22"
            ]
        ]
    },
    {
        "id": "fe6413f3fd4daf6b",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor7",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1740,
        "wires": [
            [
                "587f7b5a39e59db9"
            ]
        ]
    },
    {
        "id": "cfd6ae1a46b810c8",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor8",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1780,
        "wires": [
            [
                "3178cdd04f3b595b"
            ]
        ]
    },
    {
        "id": "1829d25cae24d132",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor9",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1820,
        "wires": [
            [
                "4855a755b0277961"
            ]
        ]
    },
    {
        "id": "96843c2d96a78736",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor10",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1860,
        "wires": [
            [
                "8351ef7677cdc893"
            ]
        ]
    },
    {
        "id": "ebb54e5300a9d308",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor11",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1900,
        "wires": [
            [
                "89b55cab1c22da94"
            ]
        ]
    },
    {
        "id": "eec49e12595b97d2",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor12",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1940,
        "wires": [
            [
                "41fc933a2796b4ff"
            ]
        ]
    },
    {
        "id": "38ba1f6d94264678",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor13",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 1980,
        "wires": [
            [
                "83ab6788520eacd1"
            ]
        ]
    },
    {
        "id": "7d79599f3c0a9194",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor14",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 2020,
        "wires": [
            [
                "fb65bef80a8f95d9"
            ]
        ]
    },
    {
        "id": "e6ae5bf74c505072",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor15",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 2060,
        "wires": [
            [
                "b2932abb7bcc7fbd"
            ]
        ]
    },
    {
        "id": "98e4670815c9fd01",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor16",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 2100,
        "wires": [
            [
                "404907384061e331"
            ]
        ]
    },
    {
        "id": "e5ac732a7425d079",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor17",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 2140,
        "wires": [
            [
                "e55afc88878a04f0"
            ]
        ]
    },
    {
        "id": "001087ed1bb0b3ec",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor18",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 2180,
        "wires": [
            [
                "d05c96171812952f"
            ]
        ]
    },
    {
        "id": "f31893645b5fd419",
        "type": "function",
        "z": "4a633a38bb91c115",
        "name": "Sensor19",
        "func": "msg.payload = msg.payload.sensor_temperature\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 2220,
        "wires": [
            [
                "ed1fa71ab54ff8f3"
            ]
        ]
    },
    {
        "id": "737fc54cf8a09931",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Sensor0",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "0ed9d51b79fd23dc",
        "type": "debug",
        "z": "4a633a38bb91c115",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 2060,
        "wires": []
    },
    {
        "id": "f894e04beab19751",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Sensor1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "7a0ed0bf500852cb",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Sensor2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "5589622f1d43c1ae",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Sensor3",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "404907384061e331",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 17,
        "width": 0,
        "height": 0,
        "label": "Sensor16",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1480,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "e55afc88878a04f0",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 18,
        "width": 0,
        "height": 0,
        "label": "Sensor17",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1480,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "d05c96171812952f",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 19,
        "width": 0,
        "height": 0,
        "label": "Sensor18",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1480,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "ed1fa71ab54ff8f3",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 20,
        "width": 0,
        "height": 0,
        "label": "Sensor19",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1480,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "4baf3330166a4119",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Sensor4",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "eb79b3e6adcdc2a2",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Sensor5",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "e6f81767d35fac22",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 7,
        "width": 0,
        "height": 0,
        "label": "Sensor6",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "587f7b5a39e59db9",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "Sensor7",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "3178cdd04f3b595b",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Sensor8",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "4855a755b0277961",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "Sensor9",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "8351ef7677cdc893",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 11,
        "width": 0,
        "height": 0,
        "label": "Sensor10",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "89b55cab1c22da94",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 12,
        "width": 0,
        "height": 0,
        "label": "Sensor11",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "41fc933a2796b4ff",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "Sensor12",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1920,
        "wires": [
            []
        ]
    },
    {
        "id": "83ab6788520eacd1",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 14,
        "width": 0,
        "height": 0,
        "label": "Sensor13",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "fb65bef80a8f95d9",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 15,
        "width": 0,
        "height": 0,
        "label": "Sensor14",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 2000,
        "wires": [
            []
        ]
    },
    {
        "id": "b2932abb7bcc7fbd",
        "type": "ui_chart",
        "z": "4a633a38bb91c115",
        "name": "",
        "group": "58a7b4edfef69a8f",
        "order": 16,
        "width": 0,
        "height": 0,
        "label": "Sensor15",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "00",
        "ymax": "30",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#29638c",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1500,
        "y": 2040,
        "wires": [
            []
        ]
    }
]